.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}
.contact-form {
  
  fieldset {
    background-color: transparent; /* keep fieldset only as border */ /* [web:38] */
  }

  /* put the white background on the real input container */
  .MuiOutlinedInput-root {
    background-color: white; /* [web:38] */
  }
  MuiInputBase-inputMultiline {
    padding: 0px 14px;  /* optional: makes it feel less tall */
  }

  textarea {
    height:  -20px;       /* pick what you want */
  }
}


label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 5px;
  padding-bottom: 0px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: -60px !important;
}